.cardStyle{
    width: 25rem;
    height: 32rem;
    display: flex;
    flex-flow: column;
    margin: 0 0 .5rem 1rem;
    
    background-color: rgba(187, 255, 0, 0.781);
}
.cardStyle h1{
    color: gray;
    display: flex;
    justify-content: center;
}
.cardStyle h3{
    color: grey;
    margin: .5rem 0 .5rem 2rem;
    
}

.videoC{
    width: 19.5rem;
    height: 10.5rem;
    border-radius: .8rem;
    border:solid .1rem grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .8rem 0 0 2.5rem;
}